<h1>Просмотр вопроса из теста '<%= @question.test.title %>':</h1>

<p>Title: <%= @question.title %></p>
<p>Body: <%= @question.body %></p>

<%= link_to "Редактировать вопрос", edit_question_path(@question) %>
<%= link_to "Вернуться к вопросам теста", test_path(@question.test_id) %>
