<div class="row">
  <h1><%= t('.header', test_title: @test_passing.test.title) %></h1>

  <%= question_informator(@test_passing) %>

  <p>
    <%= t('.current_question', question_title: @test_passing.current_question.title) %><br>
    <%= @test_passing.current_question.body %><br>
  </p>

  <hr class="border border-danger border-2 opacity-50">
  <p><%= t('.answers_variants') %>:</p>

  <%= form_with url: test_passing_path(@test_passing), local: true, method: :put do |form| %>
    <%= form.collection_check_boxes :answer_ids, @test_passing.current_question.answers,
      :id, :body, include_hidden: false do |box| %>
      <p>
        <%= box.check_box id: "answer_ids_#{box.object.id}" %>
        <%= box.label %>
      </p> 
    <% end %>
    <p><%= link_to 'Gist question', test_passing_gist_path(@test_passing), method: :post %>
    <p><%= form.submit t('.next_question_button'), class: "btn btn-primary" %></p>
  <% end %> 
<div class="row">
