<div class="row">


  <h1><%= t('.header', test_title: @test_passing.test.title) %></h1>

  <div class="progress-container">
    <% @test_passing.test.questions.each do |question| %>
      <%= content_tag :span, "", class: "progress-bar", data: { question_id: question.id } %>
    <% end %>

  </div>
  <%= content_tag :div, class: 'timer-container', data: {
    test_passing_started_at: @test_passing.created_at.to_s,
    test_duration_milli_seconds: @test_passing.test.duration_min * 60 * 1000
    } do %>
    До окончания теста осталось:
    <span id="days"></span>&nbsp days /
    <span id="hours"></span>&nbsp hours /
    <span id="minutes"></span>&nbsp minutes /
    <span id="seconds"></span>&nbsp seconds
  <% end %>


  <%= question_informator(@test_passing) %>

  <p>
    <%= t('.current_question', question_title: @test_passing.current_question.title) %><br>
    <%= @test_passing.current_question.body %><br>
  </p>

  <hr class="border border-danger border-2 opacity-50">
  <p><%= t('.answers_variants') %>:</p>

  <%= form_with url: test_passing_path(@test_passing), local: true, class: 'test-passing-form', method: :put do |form| %>
    <%= form.collection_check_boxes :answer_ids, @test_passing.current_question.answers,
      :id, :body, include_hidden: false do |box| %>
      <p>
        <%= box.check_box id: "answer_ids_#{box.object.id}" %>
        <%= box.label %>
      </p> 
    <% end %>
    <p><%= link_to 'Gist question', gists_path(@test_passing), method: :post %>
    <p><%= form.submit t('.next_question_button'), class: "btn btn-primary", data: { question_id: @test_passing.current_question.id } %></p>
  <% end %> 
<div class="row">
