<h1><%= t('.header', test_title: @test_passing.test.title) %></h1>

<%= question_informator(@test_passing) %>

<p>
  <%= t('.current_question', question_title: @test_passing.current_question.title) %><br>
  <%= @test_passing.current_question.body %><br>
</p>

<hr>
<p><%= t('.answers_variants') %>:</p>

<%= form_with url: test_passing_path(@test_passing), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passing.current_question.answers,
    :id, :body, include_hidden: false do |box| %>
    <p>
      <%= box.check_box id: "answer_ids_#{box.object.id}" %>
      <%= box.label %>
    </p> 
  <% end %>
  <p><%= form.submit t('.next_question_button') %></p>
<% end %> 
