<tr>
  <td><%= badge.name %></td>
  <td><%= badge.award_type %></td>
  <td><%= badge.img_path %></td>
   <td><%= link_to t('.show'), admin_badge_path(badge)%></td>
  <td><%= link_to t('.edit'), edit_admin_badge_path(badge)%></td>
  </td>
</tr>
