<tr>
  <td><%= badge.badge_template.title %></td>
  <td><%= badge.created_at %></td>
  <td><%= badge.badge_template.issuance_type %></td>
  <td><%= badge.badge_template.img_path %></td>
  <td><%= image_tag(badge.badge_template.img_path) %></td>
</tr>
