<tr>
  <td><%= badge_template.title %></td>
  <td><%= badge_template.issuance_type %></td>
  <td><%= badge_template.img_path %></td>
   <td><%= link_to t('.show'), admin_badge_template_path(badge_template)%></td>
  <td><%= link_to t('.edit'), edit_admin_badge_template_path(badge_template)%></td>
  </td>
</tr>
