<p id="notice"><%= notice %></p>
<h1>Ответ на вопрос</h1>
<table border = '1'>
  <tr>
    <td>
      <%="Заголовок вопроса: #{@answer.question.title}" %><br>
      <%="Тело вопроса: #{@answer.question.body}" %> 
    </td>
  </tr>
</table>

<p><%="Ответ: #{@answer.body}"%></p>
<p><%="Ответ верный? #{@answer.correct}"%></p>

<%= link_to 'Edit', edit_admin_answer_path(@answer) %> |
<%= link_to 'Назад к списку ответов', admin_question_path(@answer.question) %>
