<div class="row">
  <h3><%= t('.header_gists') %></h3>
  <% if @gists.present? %>
    <table class="table table-hover">
      <tr>
        <td><%= t('.gist_url') %></td>
        <td><%= t('.gist_question') %></td>
        <td><%= t('.gist_user_email') %></td>
      </tr>
      <%= render @gists %>
    </table>
  <% else %>
    <p><%= t('.no_gists_yet') %></p>
  <% end %>
</div>

<div class="row">
  <h3>Шаблоны наград</h3>
  <% if @badges.present? %>
    <table class="table table-hover">
      <tr>
        <th>Title</th>
        <th>Issuance_type</th>
        <th>img_path</th>
        <th colspan='2'><%= t('.actions') %></th>
      </tr>
      <%= render @badges %>
    </table>
  <% else %>
    <p>No BadgeTemplates yet</p>
  <% end %>
</div>

<%= render 'shared/errors', resource: @test %>

<div class="row">
  <h3><%= t('.header_tests') %></h3>
  <% if @tests.present? %>
    <table class="table table-tests table-hover">
      <tr>
        <th class='sort-by-title pointer'>
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success' %>
          <%= octicon 'arrow-down', class: 'text-success' %>
        </th>
        <th><%= t('.category') %></th>
        <th><%= t('.questions_size') %></th>
        <th colspan='3'><%= t('.actions') %></th>
      </tr>
      <%= render @tests %>
    </table>
  <% else %>
    <p><%= t('.no_questions_yet') %></p>
  <% end %>
  <p><%= link_to t('.create_test'), new_admin_test_path, class: 'btn btn-primary' %></p>
</div>
