<div class="row">
  <h3><%= t('.header') %> </h3>

  <% if @tests.present? %>
    <table class="table table-hover table-tests">
      <tr>
        <th class='sort-by-title pointer'>
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success' %>
          <%= octicon 'arrow-down', class: 'text-success' %>
        </th>
        <th><%= t('.category') %></th>
        <th><%= t('.questions_size') %></th>
        <th><%= t('.complexity_level') %></th>
        <th><%= t('.actions') %></th>
      </tr>
    <%= render @tests %>
    </table>  
  <% else %>
    <p><%= t('.no_questions_yet') %></p>
  <% end %>
<div>
