<h3><%= t('.header') %> </h3>

<% if @tests.present? %>
  <table border="1">
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.category') %></th>
      <th><%= t('.questions_size') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  <%= render @tests %>
  </table>
<% else %>
  <p><%= t('.no_questions_yet') %></p>
<% end %>
